.devices {
  background: linear-gradient(to bottom right, #00a6b2, #0ac9a1);
  flex-basis: 256px;
  flex-grow: 1;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
}

.devices img {
  display: block;
  flex-shrink: 0;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 40px;
}

@media (min-width: 800px) {
  .devices {
    align-items: center;
    display: flex;
    flex-basis: 0;
    justify-content: flex-end;
  }

  .devices img {
    left: auto;
    margin: 0;
    max-height: 90%;
    position: relative;
    right: auto;
    top: auto;
  }
}