.info-container {
    display: inline-block;
    height: auto;
    text-align: left;
    vertical-align: middle;
    width: 80%;
}

.info-slogan {
    color: #202020;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.info-description {
    color: #606060;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    margin: 24px 0 0;
    padding: 0;
}

.info-download {
    margin: 42px 0 0;
}