.navbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 60px;
  left: 0;
  padding: 0 10px;
  position: absolute;
  top: 0;
  width: 100%;
}

.navbar-logo {
  flex-shrink: 0;
  height: 50%;
  pointer-events: none;
}

.nav-item {
  color: #f7f5f7;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 0.25em;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item:not(:last-child) {
  margin-right: 0.5em;
}

@media (min-width: 420px) {
  .navbar {
    padding: 0 20px;
  }

  .nav-item {
    padding: 0.5em;
  }

  .nav-item:not(:last-child) {
    margin-right: 1em;
  }
}

@media (min-width: 600px) {
  .navbar {
    height: 80px;
    padding: 0 40px;
  }

  .nav-item {
    font-size: 1.125rem;
  }

  .nav-item:not(:last-child) {
    margin-right: 1.5em;
  }
}

@media (min-width: 800px) {
  .nav-item {
    color: #63c6ce;
  }
}