@import url("https://fonts.googleapis.com/css?family=Arimo");

*, *::before, *::after {
  box-sizing: border-box;
  outline: none;
}

html, body, #root {
  font-family: "Arimo", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

div {
  margin: 0;
  padding: 0;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}